@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-titulo: 'Passion One', cursive;
    --fonte-corpo: 'Sriracha', cursive;
    --fonte-p: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font: normal bolder 10vw var(--fonte-titulo);
    font-variant: small-caps;
}

header p{
    font: normal 400 1em var(--fonte-p);
    padding-bottom: 50px;
}

header a{
    font: normal 400 1em var(--fonte-p);
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: underline;
}

main{
    padding-top: 5vh;
}

main pre{
    font: normal 400 3.5vw var(--fonte-corpo);
    white-space: pre-line;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 2vh;
}

main pre#estrofe2{
    background-image: url(../imagens/background001.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    color: white;
    padding-top: 30px;
}

main pre#estrofe5{
    background-image: url(../imagens/background002.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    color: white;
    padding-top: 30px;
}

main pre > p{
    background-color: rgba(0, 0, 0, 0.411);
    display: inline-block;
    padding: 0 5px 5px 5px;
    white-space: nowrap;
}

footer p{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font: normal 400 1em var(--fonte-p);
}

footer a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}


